@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap");

/*обнулення*/
* {
	padding: 0;
	margin: 0;
	border: 0;
}
* {
	min-height: 0;
	min-width: 0;
}
*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,
:active {
	outline: none;
}
a:focus,
a:active {
	outline: none;
}
nav,
footer,
header,
aside {
	display: block;
}
html,
body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
	font-family: inherit;
}
input::-ms-clear {
	display: none;
}
button {
	cursor: pointer;
}
button::-moz-focus-inner {
	padding: 0;
	border: 0;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
ul li {
	list-style: none;
}
img {
	vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: 400;
}

/*--------Background class--------*/

.ibg {
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
}
.ibg img {
	width: 0;
	height: 0;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	visibility: hidden;
}

:root {
	font-family: Lato, sans-serif;
	scroll-behavior: smooth;
	--bg-color1: #000;
	--bg-color2: #141414;
	--bg-color3: #191919;
	--above-color: #d0b48c;
	--title-color: #fff;
	--text-color: #878787;
}

.container {
	max-width: 980px;
	margin: 0 auto;
}

.main-header {
	position: absolute;
	top: 0;
	background: #000;
	width: 100%;
	z-index: 50;
}

.header__body {
	display: flex;
	height: 40px;
	position: relative;
}

.header__body:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: var(--bg-color1);
	z-index: 7;
}

.main-header.fixed {
	position: fixed;
	top: 0;
	left: 0;
	background: #000;
	animation: fixedMenu 1s forwards;
}
@keyframes fixedMenu {
	0% {
		height: 0px;
	}
	50% {
		height: 60px;
	}
	100% {
		height: 40px;
	}
}
.header__logo {
	width: 110px;
	height: auto;
	display: flex;
	align-items: center;
	padding-left: 10px;
	position: relative;
	z-index: 7;
}
.header__logo-img {
	width: 100%;
	height: auto;
}
.header__burger {
	position: absolute;
	z-index: 7;
	top: 10px;
	right: 10px;
	width: 20px;
	height: 20px;
}
.header__burger span {
	position: absolute;
	top: 10px;
	height: 1px;
	width: 100%;
	opacity: 1;
	background-color: #fff;
	transition: all 0.3s ease;
}
.header__burger span.active {
	opacity: 0;
}
.header__burger:before {
	content: "";
	position: absolute;
	top: 3px;
	width: 100%;
	height: 1px;
	background-color: #fff;
	transition: all 0.3s ease;
}
.header__burger.active:before {
	top: 9px;
	width: 25px;
	transform: rotate(45deg);
}
.header__burger:after {
	content: "";
	position: absolute;
	bottom: 3px;
	width: 100%;
	height: 1px;
	background-color: #fff;
}
.header__burger.active:after {
	bottom: 10px;
	width: 25px;
	transform: rotate(-45deg);
}
.header__menu {
	position: absolute;
	left: -1000%;
	width: 100%;
	height: 400px;
	background-color: #2c2b2b;
	z-index: 4;
	transition: all 0.7s ease;
}

.header__menu.active {
	position: absolute;
	left: 0;
	width: 100%;
	height: 400px;
	background-color: #2c2b2b;
	z-index: 4;
}
.header__list {
	padding-top: 40px;
	text-align: center;
}
.header__link {
	position: relative;
}
.header__link:after {
	position: absolute;
	content: "";
	bottom: 0;
	left: 0;
	background-color: #fff;
	width: 0;
	height: 1px;
	transition: width 0.3s;
}

.header__list-item:hover .header__link:after {
	width: 100%;
}

.header__list-item {
	margin-top: 15px;
}
.header__link {
	color: var(--title-color);
	font-size: 1.5em;
}
.header__list-item span {
	display: inline-block;
	position: relative;
	border: 1px solid #d1b997;
	width: 30px;
	height: 30px;
	margin: 0 5px;
}
.header__list-item span .icon-facebook,
.header__list-item span .icon-instagram,
.header__list-item span .icon-youtube {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #d1b997;
	font-size: 16px;
}

@media (min-width: 525px) {
	.header__body {
		height: 60px;
		position: relative;
	}
	@keyframes fixedMenu {
		0% {
			height: 0px;
		}
		50% {
			height: 80px;
		}
		100% {
			height: 60px;
		}
	}
	.header__logo {
		width: 140px;
		padding-left: 20px;
	}
	.header__burger {
		top: 20px;
		right: 20px;
		width: 20px;
		height: 20px;
	}
	.header__menu {
		padding-top: 50px;
	}
}

@media (min-width: 767px) {
	.main-header {
		position: absolute;
		top: 0;
		background: rgba(0, 0, 0, 0.308);
		width: 100%;
		z-index: 50;
	}
	.header__body:before {
		background: transparent;
	}

	.header__body {
		display: flex;
		height: 60px;
		position: relative;
		max-width: 980px;
		margin: 0 auto;
	}
	@keyframes fixedMenu {
		0% {
			height: 0px;
		}
		50% {
			height: 80px;
		}
		100% {
			height: 60px;
		}
	}
	.header__logo {
		width: 180px;
		height: auto;
		display: flex;
		align-items: center;
		padding-left: 30px;
		position: relative;
		z-index: 7;
	}
	.header__burger {
		display: none;
	}
	.header__menu {
		position: relative;
		left: 0;
		height: auto;
		background-color: transparent;
		padding-top: 0;
		z-index: 7;
		padding-right: 20px;
	}
	.header__menu.active {
		position: static;
	}
	.header__list {
		padding-top: 0;
		text-align: center;
		display: flex;
		justify-content: flex-end;
		height: 100%;
		align-items: center;
	}

	.header__list-item {
		margin: 0 5px;
	}

	.header__list-item {
		margin-top: 0;
	}
	.header__link {
		font-size: 1em;
	}
	.header__list-item span {
		display: inline-block;
		position: relative;
		border: 1px solid #d1b997;
		width: 30px;
		height: 30px;
		margin: 0 5px;
		cursor: pointer;
	}
	.header__list-item span:hover i {
		transform: scale(1.1) translate(-50%, -50%);
		top: 50%;
		left: 50%;
	}
	.header__list-item span .icon-facebook,
	.header__list-item span .icon-instagram,
	.header__list-item span .icon-youtube {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		color: #d1b997;
		font-size: 16px;
		transition: all 0.3s;
	}
}

.video-block {
	max-height: 100vh;
	overflow: hidden;
	position: relative;
	padding-top: 40px;
}
.video__inner {
	position: relative;
	padding-bottom: 56.25%;
}

.video__media {
	width: 100%;
	height: auto;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
}

.video__content {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 2;
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr;
	cursor: pointer;
}
.video__content-business,
.video__content-people {
	position: relative;
}
.video__content-business h2 {
	position: absolute;
	top: 50%;
	left: 42%;
	transform: translate(-50%, -50%);
	color: var(--title-color);
	font-size: 2em;
	font-weight: 900;
	z-index: -1;
}
.business__btn {
	border: 1px solid grey;
	border-radius: 50%;
	position: absolute;
	width: 40px;
	height: 40px;
	top: 65%;
	left: 45%;
	transform: translate(-50%, -30%);
	background-color: transparent;
	z-index: -1;
}
.business__btn .icon-play {
	color: #fff;
}

.video__content-people h2 {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: var(--text-color);
	font-size: 2em;
	font-weight: 900;
	z-index: -1;
}
.people__btn {
	border: 1px solid grey;
	border-radius: 50%;
	position: absolute;
	width: 40px;
	height: 40px;
	top: 65%;
	left: 45%;
	transform: translate(-50%, -30%);
	background-color: transparent;
	z-index: -1;
}
.people__btn .icon-play {
	color: grey;
}
.video__hands {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 2;
}
.icon-heart3 {
	flex: 0 0 100%;
	color: var(--title-color);
	font-size: 3em;
}

@media (min-width: 525px) {
	.video__content-business h2 {
		font-size: 3em;
	}
	.video__content-people h2 {
		font-size: 3em;
	}
	.icon-heart3 {
		font-size: 4em;
	}
}

@media (min-width: 768px) {
	.video-block {
		padding-top: 0;
	}
	.video__content-business h2 {
		font-size: 4em;
	}
	.video__content-people h2 {
		font-size: 4em;
	}
	.icon-heart3 {
		font-size: 5em;
	}
	.people__btn {
		width: 60px;
		height: 60px;
		top: 65%;
		left: 45%;
		transform: translate(-50%, -30%);
	}
	.people__btn .icon-play {
		font-size: 1.4em;
	}
	.business__btn {
		width: 60px;
		height: 60px;
		top: 65%;
		left: 45%;
		transform: translate(-50%, -30%);
	}
	.business__btn .icon-play {
		font-size: 1.4em;
	}
}
@media (min-width: 991px) {
	.video__content-business h2 {
		font-size: 5em;
	}
	.video__content-people h2 {
		font-size: 5em;
	}
	.icon-heart3 {
		font-size: 6em;
	}
	.people__btn {
		width: 80px;
		height: 80px;
		top: 65%;
		left: 45%;
		transform: translate(-50%, -30%);
	}
	.people__btn .icon-play {
		font-size: 1.4em;
	}
	.business__btn {
		width: 80px;
		height: 80px;
		top: 65%;
		left: 45%;
		transform: translate(-50%, -30%);
	}
	.business__btn .icon-play {
		font-size: 1.4em;
	}
}
@media (min-width: 991px) {
	.people__btn {
		width: 80px;
		height: 80px;
		top: 65%;
		left: 45%;
		transform: translate(-50%, -30%);
	}
	.people__btn .icon-play {
		font-size: 1.4em;
	}
	.business__btn {
		width: 80px;
		height: 80px;
		top: 65%;
		left: 45%;
		transform: translate(-50%, -30%);
	}
	.business__btn .icon-play {
		font-size: 1.4em;
	}
}
@media (min-width: 1200px) {
	.people__btn {
		display: none;
		width: 80px;
		height: 80px;
		top: 65%;
		left: 45%;
		transform: translate(-50%, -30%);
	}
	.people__btn .icon-play {
		font-size: 1.4em;
	}
	.business__btn {
		width: 80px;
		height: 80px;
		top: 65%;
		left: 45%;
		transform: translate(-50%, -30%);
	}
	.business__btn .icon-play {
		font-size: 1.4em;
	}
}

.welcome {
	background-color: var(--bg-color2);
	padding: 30px 10px;
}
.abovetitle {
	color: var(--above-color);
	font-size: 0.8em;
	font-weight: 700;
	padding-bottom: 15px;
}
.title {
	color: var(--title-color);
	font-size: 2em;
	font-weight: 900;
	padding-bottom: 15px;
}
.suptitle {
	color: var(--title-color);
	font-size: 1.3em;
	font-weight: 600;
	padding-bottom: 20px;
	line-height: 1.5;
}
.welcome__services {
	display: flex;
	flex-direction: column;
}
.welcome__services-box {
	position: relative;
	padding-bottom: 20px;
}

.welcome__services-box:last-child {
	padding-bottom: 0;
}

.welcome__services-img {
	position: absolute;
	top: 30%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100px;
	height: 100px;
}
.welcome__services-title {
	color: var(--title-color);
	font-size: 1.7em;
	font-weight: 900;
	padding-top: 120px;
	padding-bottom: 15px;
}

.text {
	color: var(--text-color);
	font-size: 1em;
	line-height: 1.2;
	font-weight: 600;
}

@media (min-width: 525px) {
	.welcome {
		padding: 40px 20px;
	}
	.abovetitle {
		font-size: 0.9em;
		padding-bottom: 20px;
	}
	.title {
		font-size: 2.2em;
		padding-bottom: 20px;
	}
	.suptitle {
		font-size: 1.2em;
		padding-bottom: 40px;
	}
	.welcome__services-box {
		padding-bottom: 25px;
	}
	.welcome__services-img {
		top: 30%;
		left: 50%;
		width: 150px;
		height: 150px;
	}
	.welcome__services-title {
		font-size: 2em;
		padding-top: 170px;
		padding-bottom: 10px;
	}
	.text {
		font-size: 1em;
	}
}

@media (min-width: 767px) {
	.welcome {
		padding: 80px 30px;
	}
	.abovetitle {
		padding-bottom: 25px;
	}
	.title {
		font-size: 3em;
		padding-bottom: 25px;
	}
	.welcome__title {
		width: 80%;
	}
	.suptitle {
		font-size: 1.3em;
		padding-bottom: 40px;
	}
	.welcome__services {
		flex-direction: row;
		justify-content: space-between;
	}
	.welcome__services-box {
		padding-bottom: 0;
		padding-left: 65px;
		flex: 0 0 31.33%;
	}
	.welcome__services-img {
		top: 30%;
		left: 10%;
		width: 50px;
		height: 50px;
	}
	.welcome__services-title {
		font-size: 1.5em;
		padding-top: 0;
		padding-bottom: 10px;
	}
	.welcome__services-text {
		font-weight: 400;
		line-height: 1.3;
	}
	.text {
		font-size: 1.1em;
	}
}

@media (min-width: 991px) {
	/* .welcome {
		padding: 80px 0;
	}
	.abovetitle {
		padding-bottom: 25px;
	}
	.title {
		font-size: 3em;
		padding-bottom: 25px;
	}
	.welcome__title {
		width: 80%;
	}
	.suptitle {
		font-size: 1.3em;
		padding-bottom: 40px;
	}
	.welcome__services {
		flex-direction: row;
	}
	.welcome__services-box {
		padding-bottom: 0;
		padding-left: 70px;
	}
	.welcome__services-img {
		top: 30%;
		left: 10%;
		width: 50px;
		height: 50px;
	}
	.welcome__services-title {
		font-size: 1.5em;
		padding-top: 0;
		padding-bottom: 10px;
	}
	.welcome__services-text {
		font-weight: 400;
		line-height: 1.3;
	}
	.text {
		font-size: 1.1em;
	} */
}

.about {
	padding: 50px 10px 30px 10px;
	background-color: var(--bg-color2);
}

.about__container {
	display: block;
}
.about__container article {
	padding-top: 15px;
}
.about__img {
	max-width: 100%;
	margin: 0 auto;
	position: relative;
}

.about__img-rectangle {
	position: absolute;
	top: 30%;
	left: -200%;
	transform: translate(-50%, -50%) rotate(-380deg);
	width: 165px;
	height: 237px;
	border: 10px solid #1f1f1f;
	transition: all 0.5s ease;
}

.about__img .rectangle-active {
	position: absolute;
	top: 30%;
	left: 40%;
	transform: translate(-50%, -50%) rotate(0deg);
	transition: all 0.5s ease;
}
.about__img img {
	display: block;
	margin: 0 auto;
	position: relative;
	width: 165px;
	height: 237px;
	border: 10px solid #1f1f1f;
}

.about__list .text {
	margin-bottom: 15px;
	padding-left: 35px;
	position: relative;
}

.about__list .text:before {
	position: absolute;
	content: "";
	top: 0;
	left: 0;
	background-image: url(../img/icons/tick.svg);
	background-size: cover;
	width: 20px;
	height: 20px;
}
.about-text {
	padding-bottom: 15px;
}
.about__btn {
	display: inline-block;
	background-color: var(--above-color);
	color: #fff;
	font-weight: 700;
	padding: 15px 25px;
}

@media (min-width: 525px) {
	.about {
		padding: 50px 20px 30px 20px;
	}
	.about__img-rectangle {
		top: 40%;
		width: 200px;
		height: 270px;
	}
	.about__img .rectangle-active {
		top: 30%;
		left: 40%;
	}
	.about__img img {
		width: 200px;
		height: 270px;
		margin-bottom: 25px;
	}
	.about__list .text {
		margin-bottom: 20px;
		padding-left: 45px;
	}
	.about__list .text:before {
		width: 20px;
		height: 20px;
	}
	.about-text {
		padding-bottom: 25px;
	}
	.about__btn {
		font-size: 1.2em;
		padding: 15px 25px;
	}
}

@media (min-width: 767px) {
	.about {
		padding: 30px 30px;
	}
	.about__container {
		display: flex;
		justify-content: space-between;
	}
	.about__img {
		padding-bottom: 0px;
		margin-right: 40px;
		flex: 44%;
	}
	.about__img-rectangle {
		top: 43%;
		left: -200%;
		width: 250px;
		height: 320px;
	}
	.about__img .rectangle-active {
		top: 43%;
		left: 53%;
	}
	.about__img img {
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 250px;
		height: 320px;
		margin-bottom: 25px;
	}
	.about__container article {
		flex: 54%;
	}
}

@media (min-width: 991px) {
	.about__img-rectangle {
		top: 40%;
		left: -200%;
		width: 300px;
		height: 400px;
	}
	.about__img .rectangle-active {
		top: 40%;
		left: 47%;
	}
	.about__img img {
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 300px;
		height: 400px;
	}
}

.neighbours {
	background-color: var(--bg-color2);
	padding: 30px 10px;
}
.neighbours-container {
	padding: 0 20px;
}

.swiper-slide {
	background-color: #191919;
}
.swiper-slide img {
	width: 100%;
	height: auto;
}

.slider-container {
	padding: 0 20px;
}
.neighbours__slider {
	position: relative;
	width: 100%;
}

.neighbours .swiper-slide {
	z-index: 1;
	height: auto;
}

.swiper-prev,
.swiper-next {
	width: 20px;
	height: 20px;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	z-index: 1;
	cursor: pointer;
}

.swiper-prev {
	left: -25px;
}
.swiper-prev:before {
	position: absolute;
	content: "";
	background-color: #959595;
	top: -6px;
	width: 100%;
	height: 2px;
	transform: rotate(-45deg);
}
.swiper-prev:after {
	position: absolute;
	content: "";
	background-color: #959595;
	top: 7px;
	width: 100%;
	height: 2px;
	transform: rotate(45deg);
}

.swiper-next {
	right: -25px;
}

.swiper-next:before {
	position: absolute;
	content: "";
	background-color: #959595;
	top: -6px;
	width: 100%;
	height: 2px;
	transform: rotate(45deg);
}
.swiper-next:after {
	position: absolute;
	content: "";
	background-color: #959595;
	top: 7px;
	width: 100%;
	height: 2px;
	transform: rotate(-45deg);
}
@media (min-width: 525px) {
	.slider-container {
		padding: 0 25px;
	}
	.swiper-prev {
		left: -30px;
	}

	.swiper-next {
		right: -30px;
	}
}
@media (min-width: 767px) {
	.neighbours {
		padding: 30px 30px;
	}
	.slider-container {
		padding: 0 35px;
	}
	.swiper-prev {
		left: -30px;
	}

	.swiper-next {
		right: -30px;
	}
}

.choose {
	background-color: var(--bg-color2);
	padding: 30px 10px;
}

.choose__content-text {
	padding-bottom: 15px;
}

.choose__count {
	padding-bottom: 15px;
}
.choose__count-title {
	font-size: 2em;
	font-weight: 900;
	color: #fff;
	padding-bottom: 8px;
}
.choose__count-text {
	color: #959595;
}
.choose__counter {
	padding-bottom: 100%;
}
.counter__content {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	text-align: center;
	display: flex;
	flex-direction: column;
	padding: 50px 0;
	justify-content: space-between;
}

.counter__content-abovetitle {
	font-size: 0.8em;
	color: #fff;
	font-weight: 900;
}
.counter__content-title {
	font-size: 7em;
	color: #d1b997;
	font-weight: 900;
}
.counter__content-suptitle {
	font-size: 1.2em;
	color: #d1b997;
	font-weight: 900;
}

@media (min-width: 525px) {
	.choose {
		padding: 30px 30px;
	}
	.choose__content-text {
		padding-bottom: 20px;
	}
	.choose__count {
		padding-bottom: 20px;
	}
	.choose__count-title {
		font-size: 2.5em;
		padding-bottom: 10px;
	}
	.counter__content {
		padding: 100px 0;
	}

	.counter__content-abovetitle {
		font-size: 1em;
	}
	.counter__content-title {
		font-size: 13em;
	}
	.counter__content-suptitle {
		font-size: 1.7em;
	}
}

@media (min-width: 767px) {
	.choose {
		padding: 30px 40px;
	}
	.choose-container {
		display: flex;
		justify-content: space-between;
	}
	.choose__content {
		flex: 0 0 49%;
	}
	.choose__content-text {
		padding-bottom: 40px;
	}
	.choose__count {
		padding-bottom: 40px;
	}
	.choose__count-title {
		font-size: 3em;
		padding-bottom: 10px;
	}
	.choose__count-text {
		font-size: 1.2em;
	}
	.choose__counter {
		flex: 0 0 49%;
	}
	.counter__content {
		padding: 150px 0;
	}
	.choose__counter {
		padding-bottom: 0;
	}

	.counter__content-abovetitle {
		font-size: 1em;
	}
	.counter__content-title {
		font-size: 15em;
	}
	.counter__content-suptitle {
		font-size: 1.7em;
	}
}
.services {
	background-color: #191919;
	padding: 30px 10px;
}

.services__slider {
	position: relative;
	width: 100%;
}

.services__slider-box {
	overflow: hidden;
	position: relative;
}

.swiper-slide img {
	width: 100%;
	height: auto;
}

.services .swiper-slide {
	z-index: 1;
	height: auto;
}

.services__slider-img {
	filter: saturate(30%);
	transition: all 0.5s;
}

.swiper-slide .services__slider-img {
	width: 200%;
	height: auto;
}
.services__slider-box a {
	position: relative;
	overflow: hidden;
	display: block;
}
.services__slider-box h4 {
	color: var(--title-color);
	font-weight: 900;
	font-size: 1.5em;
	margin-top: 30px;
	margin-bottom: 20px;
}
.services__slider-box p {
	color: var(--text-color);
	line-height: 1.8;
	font-weight: 600;
}

.services__slider-btn {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: inline-block;
	background-color: var(--above-color);
	color: #fff;
	font-weight: 700;
	padding: 15px 25px;
	transition: all 0.5s;
}

@media (min-width: 525px) {
	.services {
		padding: 40px 20px;
	}
}

@media (min-width: 767px) {
	.services {
		padding: 40px 30px;
	}
}

@media (min-width: 991px) {
	.services__slider-img {
		filter: saturate(100%);
		overflow: hidden;
	}
	.services__slider-box a:hover .services__slider-img {
		filter: saturate(30%);
		transform: scale(1.1);
	}
	.services__slider-btn {
		opacity: 0;
	}
	.services__slider-box a:hover .services__slider-btn {
		opacity: 1;
	}
}

.pricing {
	background-color: var(--bg-color1);
	padding: 30px 10px;
}

.pricing-container {
	max-width: 980px;
	margin: 0 auto;
}
.pdf {
	display: block;
	color: #fff;
	padding-bottom: 15px;
}
.pricing__card {
	background-color: #191919;
	padding: 40px 30px;
}
.pricing__card:nth-child(2) {
	margin-bottom: 15px;
}
.pricing__card-title {
	color: var(--title-color);
	font-size: 2em;
	font-weight: 900;
	margin-bottom: 20px;
}
.icon-business-center,
.icon-business-front {
	color: #f5e4ac;
	font-size: 3.5em;
	margin-bottom: 20px;
}
.pricing__card-price {
	color: #fff;
	font-weight: 900;
	font-size: 1.7em;
	margin-bottom: 20px;
}
.pricing__card-price span {
	color: #878787;
	font-size: 0.7em;
}
.pricing__card-list {
	padding-bottom: 15px;
}
.pricing__card-list li {
	position: relative;
	margin-bottom: 17px;
	padding-left: 30px;
	color: var(--text-color);
}
.pricing__card-list li:before {
	position: absolute;
	content: "";
	top: 0;
	left: 0;
	background-image: url(../img/icons/tick.svg);
	background-size: cover;
	width: 20px;
	height: 20px;
}
.pricing__card-btn {
	display: inline-block;
	background-color: var(--above-color);
	color: #fff;
	font-weight: 700;
	padding: 15px 25px;
}

@media (min-width: 525px) {
	.pricing {
		padding: 40px 20px;
	}
	.pricing__card {
		padding: 40px 30px;
		max-width: 400px;
		margin: 0 auto;
	}
	.pdf {
		padding-bottom: 35px;
		font-size: 16px;
	}
}

@media (min-width: 767px) {
	.pricing {
		padding: 40px 30px;
	}
	.pricing-container {
		display: flex;
		flex-wrap: wrap;
	}
	.pricing__content {
		flex: 0 0 100%;
	}
	.pricing__card {
		flex: 0 0 48%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
	.pricing__card:nth-child(2) {
		margin-bottom: 0;
	}
	.pdf {
		padding-bottom: 45px;
		font-size: 16px;
	}
}
@media (min-width: 991px) {
	.pricing {
		padding: 40px 30px;
	}
	.pricing-container {
		justify-content: space-between;
	}
	.pricing__content {
		flex: 0 0 31%;
	}
	.pricing__card {
		flex: 0 0 31%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	.pricing__card-title {
		font-size: 2em;
		margin-bottom: 20px;
	}
	.icon-business-center,
	.icon-business-front {
		font-size: 3.5em;
		margin-bottom: 20px;
	}
	.pricing__card-price {
		font-size: 1.7em;
		margin-bottom: 20px;
	}
	.pricing__card-price span {
		font-size: 0.7em;
	}
	.pricing__card-list {
		padding-bottom: 15px;
	}
	.pricing__card-list li {
		margin-bottom: 17px;
		padding-left: 30px;
	}
	.pricing__card-list li:before {
		top: 0;
		left: 0;
		width: 20px;
		height: 20px;
	}
	.pricing__card-btn {
		padding: 15px 25px;
	}
}

.enjoy {
	background-color: var(--bg-color1);
	padding: 30px 10px;
}
.enjoy__info-text {
	margin-bottom: 15px;
}

@media (min-width: 525px) {
	.enjoy {
		padding: 30px 20px;
	}

	.enjoy__info-text {
		margin-bottom: 15px;
	}
}

@media (min-width: 767px) {
	.enjoy {
		padding: 40px 30px;
	}
	.enjoy__info {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
	.enjoy__info-text {
		flex: 0 0 49%;
		margin-bottom: 15px;
	}
}
.promo {
	position: relative;
	padding-bottom: 55%;
}
.promo:before {
	position: absolute;
	content: "";
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.486);
}
.promo__content {
	position: absolute;
	text-align: center;
	width: 100%;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.promo__content-link {
	position: relative;
}
.promo__content-link:before {
	content: "";
	position: absolute;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #ebd489;
	z-index: 1;
}

.promo .icon-play {
	position: absolute;
	color: #fff;
	z-index: 2;
	font-size: 25px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.promo__content-title {
	margin-bottom: 30px;
	font-weight: 900;
	font-size: 2em;
	color: var(--title-color);
}

.modal {
	display: none;
	background: #000;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 99999;
}
.modal_vis {
	display: block;
}
#close_modal {
	color: #bfe2ff;
	font-size: 20px;
	font-weight: bold;
	font-family: sans-serif;
	border-radius: 50%;
	border: 2px solid #bfe2ff;
	width: 20px;
	height: 20px;
	line-height: 20px;
	text-align: center;
	margin: 10px;
	cursor: pointer;
	position: absolute;
	right: 0;
	transform: rotate(45deg);
	transition: all 0.6s;
	box-sizing: content-box;
}
.modal__frame {
	margin: 0 auto;
	width: 100%;
	height: 50%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	margin-top: 45px;
}
#close_modal:hover {
	color: #fff;
	transform: rotate(135deg);
}

@media (min-width: 525px) {
	.promo__content-title {
		margin-bottom: 50px;
		font-size: 3em;
	}
	.promo__content-link:before {
		width: 60px;
		height: 60px;
	}

	.promo .icon-play {
		font-size: 30px;
	}

	#close_modal {
		font-size: 26px;
		border-radius: 50%;
		border: 3px solid #bfe2ff;
		width: 24px;
		height: 24px;
		line-height: 24px;
		margin: 10px;
	}
}
@media (min-width: 725px) {
	.promo__content-title {
		margin-bottom: 50px;
		font-size: 3em;
	}
	.promo__content-link:before {
		width: 60px;
		height: 60px;
	}

	.promo .icon-play {
		font-size: 34px;
	}
	.modal__frame {
		height: 90%;
	}
}
@media (min-width: 991px) {
	.promo__content-title {
		margin-bottom: 50px;
		font-size: 4em;
	}
	.promo__content-link:before {
		width: 80px;
		height: 80px;
	}
	.promo .icon-play {
		font-size: 42px;
	}
	.modal__frame {
		height: 85%;
		margin-top: 15px;
		margin-bottom: 30px;
	}
	#close_modal {
		font-size: 26px;
		border-radius: 50%;
		border: 3px solid #bfe2ff;
		width: 24px;
		height: 24px;
		line-height: 24px;
		margin: 10px;
	}
}

.awards {
	background-color: var(--bg-color3);
}
.awards__container {
	padding: 30px 10px;
}
.awards__company {
	display: flex;
	flex-direction: column;
	padding: 31px 27px;
	border-bottom: 1px solid #878787;
}
.awards__company:last-of-type {
	border-bottom: none;
}
.awards__company-year {
	color: #fff;
	font-size: 2.5em;
	font-weight: 900;
}
.awards__company-content p:first-child {
	font-weight: 900;
	color: #fff;
	font-size: 1.2em;
	margin-bottom: 20px;
}
.awards__company-content p:last-child {
	font-weight: 400;
	color: var(--text-color);
	font-size: 1em;
}
@media (min-width: 525px) {
	.awards__container {
		padding: 30px 20px;
	}
}
@media (min-width: 767px) {
	.awards__container {
		padding: 30px 30px;
	}
	.awards__company {
		flex-direction: row;
		align-items: center;
		padding: 50px 27px;
	}
	.awards__company-year {
		font-size: 2.7em;
	}
	.awards__company img,
	.awards__company-content {
		flex: 0 0 35%;
		margin-top: 30px;
		padding: 0 15px;
	}
	.awards__company-year {
		flex: 0 0 30%;
		margin-top: 30px;
		padding: 0 15px;
	}
	.awards__company-content p:first-child {
		font-size: 1.3em;
		margin-bottom: 20px;
	}
	.awards__company-content p:last-child {
		font-size: 1em;
	}
}

@media (min-width: 991px) {
	.awards__company {
		padding: 50px 30px;
	}
	.awards__company-year {
		font-size: 3em;
	}
	.awards__company-content p:first-child {
		font-size: 1.4em;
		margin-bottom: 20px;
	}
	.awards__company-content p:last-child {
		font-size: 1.1em;
	}
}

.testimonials {
	background: var(--bg-color2);
}
.testimonials-container {
	padding: 30px 10px;
}
.testimonials__slider {
	position: relative;
	width: 100%;
}

.testimonials .swiper-slide {
	z-index: 1;
	height: auto;
}

.testimonials__slider-card {
	background-color: #191919;
	padding: 20px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
}
.icon-quotes {
	color: #d1b997;
	font-size: 3.5em;
}
.slider-card__text {
	color: var(--text-color);
	font-size: 1.2em;
	line-height: 1.3;
	font-weight: 400;
	font-style: italic;
	margin-bottom: 15px;
}
.slider-card__suptext {
	color: var(--text-color);
	font-size: 1em;
	font-weight: 400;
	margin-bottom: 25px;
}
.slider-card__person {
	display: flex;
	align-items: center;
}
.person__img {
	flex: 40%;
	width: 100%;
	height: auto;
}
.person__info {
	flex: 60%;
	padding-left: 15px;
}
.person__info-name {
	color: #fff;
	font-size: 1.4em;
	font-weight: 600;
	line-height: 1.1;
	margin-bottom: 10px;
}
.person__info-job {
	color: var(--text-color);
}
@media (min-width: 525px) {
	.testimonials-container {
		padding: 30px 20px;
	}
}
@media (min-width: 767px) {
	.testimonials-container {
		padding: 30px 30px;
	}
}

.contacts-form-container {
	padding: 30px 10px;
}
.contacts-form {
	background: var(--bg-color2);
}
.from__inner {
	display: flex;
	flex-direction: column;
	margin-bottom: 20px;
}
.form-item {
	position: relative;
}
.form-item label {
	color: #fff;
	position: absolute;
	left: 25px;
	top: 25px;
	transition: top 0.5s;
}

.form-item input,
.form-item textarea {
	background-color: transparent;
	border-bottom: 2px solid #191919;
	padding: 30px 26px 5px 26px;
	color: #9b9b9b;
	font-weight: 600;
	width: 100%;
	font-size: 14px;
}
.form-item textarea {
	margin-bottom: 15px;
}
.form-item input::placeholder,
.form-item textarea::placeholder {
	font-size: 13px;
	color: #515769;
	font-weight: 600;
}
.form-item input:focus,
.form-item textarea:focus {
	outline: auto;
	outline-color: #3b99fc;
}

input:focus + label,
input:not(:placeholder-shown) + label,
textarea:focus + label,
textarea:not(:placeholder-shown) + label {
	top: 10px;
}
input:focus + label {
	font-size: 12px;
}

::-webkit-input-placeholder {
	opacity: 0;
}

input:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder {
	opacity: 1;
}

.from__inner button {
	background-color: #d1b997;
	color: #fff;
	font-size: 1em;
	font-weight: 600;
	text-align: center;
	padding: 15px;
}

.map__frame {
	width: 100%;
	height: 400px;
}

@media (min-width: 525px) {
	.contacts-form-container {
		padding: 30px 20px;
	}
}

@media (min-width: 767px) {
	.contacts-form-container {
		padding: 30px 30px;
	}
	.contacts-form-container {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}
	.contacts-form-container article {
		flex: 0 0 48%;
	}
	.from__inner {
		margin-bottom: 0;
	}
	.contacts-form__map {
		flex: 0 0 48%;
	}
	.map__frame {
		width: 100%;
		height: 100%;
	}
	.from__inner input::placeholder,
	.from__inner textarea::placeholder {
		font-size: 16px;
	}
	.from__inner input,
	.from__inner textarea {
		padding: 30px 26px 5px 26px;
		font-size: 16px;
	}
}

.contacts {
	background: var(--bg-color3);
}

.contacts__container {
	padding: 30px 10px;
}
.contacts__top {
	padding-bottom: 15px;
	border-bottom: 1px solid rgba(226, 223, 223, 0.5);
}
.contacts__description {
	text-align: center;
	margin-bottom: 20px;
}
.contacts__description .suptitle {
	padding-bottom: 20px;
}
.contacts__description-text {
	color: var(--text-color);
	font-weight: 600;
	font-size: 1.1em;
	line-height: 1.6;
	margin-bottom: 20px;
}
.contacts__description-social {
	color: #fff;
	font-weight: 900;
	font-size: 1.7em;
}
.contacts__description-social a {
	display: inline-block;
	width: 26px;
	height: 26px;
	background-color: #d1b997;
	margin-right: 7px;
	margin-left: 7px;
}
.contacts__description-social a i {
	font-size: 0.6em;
	color: black;
	display: block;
	position: relative;
	height: 100%;
}

.contacts__description-social [class^="icon-"]:before {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.contacts__info {
	text-align: center;
}

.contacts__info-title {
	color: #fff;
	font-weight: 900;
	font-size: 1.7em;
	margin-bottom: 10px;
}
.contacts__info-link {
	display: block;
	color: var(--title-color);
	font-size: 1em;
	font-weight: 400;
	margin-bottom: 20px;
}
.contacts__info-adress {
	display: block;
	color: var(--text-color);
	font-size: 1em;
	line-height: 1.3;
	font-weight: 400;
	margin-bottom: 18px;
}
.contacts__info-hours p {
	color: var(--text-color);
	font-size: 1em;
	font-weight: 400;
	margin-bottom: 5px;
	line-height: 1.2;
}
.footer__bottom {
	padding: 25px 0 0 0;
}
.footer__bottom-img {
	display: block;
	margin: 0 auto;
	width: 150px;
	height: auto;
	margin-bottom: 15px;
}
.footer__bottom-text {
	text-align: center;
	color: var(--text-color);
	font-size: 1em;
	font-weight: 400;
	margin-bottom: 18px;
}
.footer__bottom-text a {
	color: #fff;
	font-size: 1em;
	font-weight: 400;
	margin-bottom: 18px;
	text-decoration: underline;
}
@media (min-width: 525px) {
	.contacts__container {
		padding: 30px 20px;
	}
}
@media (min-width: 767px) {
	.contacts__container {
		padding: 50px 30px 5px 30px;
	}
	.contacts__top {
		display: flex;
		justify-content: space-between;
	}
	.contacts__description {
		text-align: left;
		flex: 0 0 58%;
	}
	.contacts__info {
		text-align: left;
		flex: 0 0 38%;
	}
	.footer__bottom {
		padding: 15px 0 0 0;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	.footer__bottom-img {
		display: block;
		margin: 0;
		width: 150px;
		height: auto;
		margin-bottom: 15px;
	}
	.footer__bottom-text {
		text-align: center;
		font-size: 1em;
		font-weight: 400;
		margin-bottom: 18px;
	}
	.footer__bottom-text a {
		font-size: 1em;
		font-weight: 400;
		margin-bottom: 18px;
	}
}
@media (min-width: 991px) {
	.contacts__description-social a {
		position: relative;
		display: inline-block;
		width: 26px;
		height: 26px;
		background-color: #d1b997;
		margin-right: 7px;
		margin-left: 7px;
	}
	.contacts__description-social a i {
		position: absolute;
		top: 50%;
		left: 50%;
		width: 100%;
		height: 100%;
		transform: translate(-50%, -50%);
		font-size: 16px;
		transition: all 0.3s;
		cursor: pointer;
	}
	.contacts__description-social a:hover i {
		transform: scale(1.1) translate(-45%, -45%);
		top: 50%;
		left: 50%;
	}
}

/* video player styles */
.screen {
	cursor: pointer;
	width: 60%;
	background-color: #000 !important;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.controls {
	background: #333;
	color: #fff;
	width: 100%;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px;
}

.controls .btn {
	border: 0;
	background: transparent;
	cursor: pointer;
}

.controls .icon-play {
	color: #28a745;
	padding-right: 5px;
}

.controls .icon-stop {
	color: #dc3545;
	padding-right: 5px;
}

.controls .icon-pause {
	color: #fff;
	padding-right: 5px;
}

.controls .timestamp {
	color: #fff;
	font-weight: bold;
	margin-left: 10px;
}

.btn:focus {
	outline: 0;
}

.modal-video {
	display: none;
	background: #000;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 99999;
}
.modal-video_vis {
	display: block;
}
#close_modal-video {
	color: #bfe2ff;
	font-size: 20px;
	font-weight: bold;
	font-family: sans-serif;
	border-radius: 50%;
	border: 2px solid #bfe2ff;
	width: 20px;
	height: 20px;
	line-height: 20px;
	text-align: center;
	margin: 10px;
	cursor: pointer;
	position: absolute;
	right: 0;
	transform: rotate(45deg);
	transition: all 0.6s;
	box-sizing: content-box;
	z-index: 3;
}
#my-video {
	margin: 0 auto;
	width: 100%;
	height: auto;
	margin-bottom: 50px;
}
#close_modal-video:hover {
	color: #fff;
	transform: rotate(135deg);
}
@media (max-width: 800px) {
	.screen,
	.controls {
		width: 100%;
	}
	#my-video {
		height: 85%;
	}
}
@media (min-width: 900px) {
	#my-video {
		height: 85%;
	}
}
